.doctor-detail-container {
    height: 500px;

    .intro-doctor {
        display: flex;
        padding: 20px 200px;

        .content-left {
            width: 20%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            margin: 10px 20px;
        }

        .content-right {
            width: 80%;
            display: flex;
            flex-direction: column;
            padding-left: 10px;

            .up {
                font-style: 20px;
                font-weight: 600;
                padding-top: 15px;
            }

            .down {
                padding-top: 10px;
            }
            .fb-like {
                margin: 10px 0 20px 0;
            }
        }
    }

    .schedule-doctor {
        margin: 0 200px;
        display: flex;
        padding: 10px 0;
        min-height: 200px;

        .content-left {
            width: 50%;

        }

        .content-right {
            width: 50%;

        }
    }
    
    .detail-infor-doctor {
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        background-color: #f9f9f9;
        padding: 20px 200px;

        h1, h2, h3 {
            font-size: 17px;
        }

        img {
            width: 100%;
            margin-bottom: 20px;
        }
    }

    .comment-doctor {
        padding: 10px 100px;
    }
}

@media only screen and (max-width: 768px) {
    .doctor-detail-container {
        .intro-doctor {
            padding: 0 8px;

            .content-left {
                width: 68px;
                height: 68px;
                margin: 0;
            }
        }

        .schedule-doctor {
            margin: 0 12px;
            flex-direction: column;

            .content-left {
                width: 100%;
                border-right: none;

                .doctor-schedule-container {
                    .time-content {
                        .time-content-btns {
                            justify-content: center;
                        }
                    }
                }
            }

            .content-right {
                width: 100%;
            }
        }

        .detail-infor-doctor {
            padding: 0 8px;
        }

        .comment-doctor {
            padding: 0;
        }
    }

}
